{% extends "base.html" %}
{% load i18n static %}
{% load django_bootstrap5 %}
{% block carousel %}{% endblock %}
{% block customjavascript %}
<script>
    function loginmodal(){
      document.getElementById('reset-btn').click()
    }
    window.addEventListener('load',loginmodal)
</script>
  {% endblock %}
{% bootstrap_css %}
{% bootstrap_messages %}
{% block content %}
<div class="container">
    <div class="d-flex flex-column align-items-center my-3" style="border-radius:4px">
        <h4 class="text-muted"><strong>Reset Password Link</strong></h4> 
<p class="text-info">{% translate 'Enter your email address below, and we will email you a reset link.' %}</p>
<div class="w-100 mx-auto">
  <form class="form text-center text-primary w-50 mx-auto" method="post">{% csrf_token %}
    {% bootstrap_form form %}
      <button class="btn btn-success btn-sm mx-auto" type="submit">Send me a Reset Link</button>
      </div>
</form>
</div>
</div>

</div>
{% endblock %}
