{% extends "base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% block customjavascript %}
<script>
  function changemodal(){
    document.getElementById('modal-btn').click()
  }
  window.addEventListener('load',changemodal)
</script>
{% endblock %}
{% bootstrap_messages %}
{% load i18n static %}

{% block content %}
<div class="container w-50">
    <div class="d-flex flex-column shadow align-items-center" style="border-radius:16px">
        <h4 class="text-primary" style="font-weight:bold">Login</h4>
        <button type="button" class="btn btn-success w-25 btn-sm" data-bs-toggle="modal" id="modal-btn" data-bs-target="#change">
            Click to Login
          </button>
          
          <!-- The Modal -->
          <div class="modal fade" id="change" data-bs-backdrop="static">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <!--Modal Head-->
              <div class="modal-head mt-1 me-1">
                <div class="d-flex flex-row">
                  <a class="btn btn-danger btn-lg btn-close ms-auto" href="/accounts/login/"></a>
                </div>
              </div>
              <!--End Modal Head-->

                <!-- Modal body -->
                <div class="modal-body">
<div class="w-100 align-items-center mx-auto">
    <div class="mx-auto justify-content-center border p-4" style="border-radius:25px">
        <h2 style="font-family:Verdana, Geneva, Tahoma, sans-serif" ><span style="color:hotpink">VM</span><span style="color:tomato">art</span></h2>
      <h4 class="text-primary"><strong>Change Your Password</strong></h4> 
<div id="content-main">
<form method="post">{% csrf_token %}
<div>
{% if form.errors %}
    <p class="errornote">
    {% if form.errors.items|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
    </p>
{% endif %}


<p>{% translate 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}</p>

    {% bootstrap_form form %}
    <div class="d-flex flex-row">
      <a class="btn btn-danger bt-sm me-auto" href="/accounts/login/">Return</a>
      <button class="btn btn-success btn-sm ms-auto" type="submit">Change Password</button>
      </div>
</div>
</form></div>
</div>
</div>
</div>
           
</div>
</div>
</div>
</div>
</div>
{% endblock %}
