{% extends "base.html" %}
{% load i18n static %}
{% load django_bootstrap5 %}
{% block carousel %}{% endblock %}
{% bootstrap_css %}
{% bootstrap_messages %}
{% block content %}
<div class="container">
{% if validlink %}
<h5 class="text-primary">Change Your Password</h5>
<p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form method="post">{% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button button_type="submit" content="Change Password" %}
</form>

{% else %}

<p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}
</div>
{% endblock %}
