{% extends 'base.html' %}
{% load i18n static %}
{% load socialaccount %}
{% block content %}
<div class="container">
    <div class="d-flex mx-auto w-75">
    <h3 class="text-primary bold">Users List</h3>
    <p class="text-muted bold">Authorised Personnel Only</p>
    <ul>
        {% for single_user in user_list %}
        <li><a href="{{single_user.id}}/" class="text-decoration-none hover">{{single_user.email}}></a> 
            <p>{{single_user.first_name}} {{single_user.last_name}}</p></li>
        <br/>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}